<div class="container my-5">
  
  <h4 class="mb-4">
    <span class="px-3 py-1" style="background-color: #f8f9fa; border: 1px solid #dee2e6;">商品詳細</span>
  </h4>

  <div class="row">
    
     <div class="col-md-4">
      <% if @item.item_image.attached? %>
        <%= image_tag @item.item_image, size: "300x300", class: "img-fluid rounded" %>
      <% else %>
        <div style="height: 300px; width: 300px; background-color: #f8f9fa; border: 1px solid #dee2e6; display: flex; align-items: center; justify-content: center;">
          画像はありません
        </div>
      <% end %>
    </div>

    <div class="col-md-8">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th class="align-top" style="width: 20%;">商品名</th>
            <td class="align-top font-weight-bold"><%= @item.name %></td>
          </tr>
          
          <tr>
            <th class="align-top">商品説明</th>
            <td class="align-top"><%= @item.introduction %></td>
          </tr>
          
          <tr>
            <th class="align-top">ジャンル</th>
            <td class="align-top"><%= @item.genre.name %></td>
          </tr>
          
          <tr>
            <th class="align-top">税込価格 (税抜価格)</th>
            <td class="align-top h5 font-weight-bold">
              <%= @item.tax_included_price.to_s(:delimited) %> 
              (<%= @item.price.to_s(:delimited) %>) 円
            </td>
          </tr>
          
          <tr>
            <th class="align-top">販売ステータス</th>
            <td class="align-top h5 font-weight-bold">
              <% if @item.is_active? %>
                <span class="text-success">販売中</span>
              <% else %>
                <span class="text-secondary">販売停止中</span>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div class="mt-5">
        <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-success" %>
      </div>
      
    </div>
  </div>
  
  </div>