<div class="container mt-5">
  <div class="row mb-4">
    <h4>
      <span class="px-4" style="background-color: #e8e8e8;">
        <%= "#{@customer.last_name}#{@customer.first_name}さんの会員詳細" %>
      </span>
    </h4>
  </div>

  <div class ="table-responsive" style="max-width: 80%;">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th class="align-middle">会員ID</th>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td class="align-middle">氏名</td>
          <td><%= "#{@customer.last_name}　#{@customer.first_name}" %></td>
        </tr>
        <tr>
          <td class="align-middle">フリガナ</td>
          <td><%= "#{@customer.last_name_kana}　#{@customer.first_name_kana}" %></td>
        </tr>
        <tr>
          <td class="align-middle">郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td class="align-middle">住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td class="align-middle">電話番号</td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td class="align-middle">メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td class="align-middle">会員ステータス</td>
          <td>
            <% if @customer.is_active? %>
              <span class="text-success font-weight-bold">有効</span>
            <% else %>
              <span class="text-muted font-weight-bold">退会</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success", style: "margin-right: 80px;" %>
            <%= link_to "注文一覧を見る", admin_root_path, class: "btn btn-primary" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>