<div class="container mt-4">
  <h2 class="mb-4">ジャンル編集</h2>

  <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch, local: true do |f| %>
    
    <% if @genre.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h3><%= @genre.errors.count %>件のエラーがあります。</h3>
        <ul>
          <% @genre.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="d-flex align-items-center">
      
      <div class="mr-3">
        <%= f.label :name, "ジャンル名" %>
      </div>
      
      <div class="mr-3 w-25"> <%# w-25 で入力欄の幅を調整 %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      
      <div>
        <%= f.submit "変更を保存", class: "btn btn-success" %>
      </div>
      
    </div>
  <% end %>
</div>