<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">

      <% if admin_signed_in? %>
        <span class="navbar-brand">CAKE</span>
      <% else %>
        <%= link_to root_path, class: "navbar-brand" do %>
          CAKE
        <% end %>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item mr-3">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">検索</button>
            </form>
          </li>

          <% if admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "商品一覧", admin_items_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "会員一覧", admin_customers_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "注文履歴一覧", admin_root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ジャンル一覧", admin_genres_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% elsif customer_signed_in? %>
            <li class="nav-item">
              <%= link_to "マイページ", mypage_customers_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "商品一覧", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "カート", cart_items_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "About", about_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "商品一覧", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_customer_session_path, class: "nav-link" %>
            </li>
          <% end %>

        </ul>
      </div>

    </div>
  </nav>
</header>